apscheduler==3.6.3
aiofiles==23.2.1
alphabet_detector==0.0.7
aiohttp==3.9.3
asyncio==3.4.3
bs4==0.0.2
better_profanity==0.7.0
bleach==6.1.0
bing_image_downloader==1.1.2
cachetools==4.2.2
countryinfo==0.1.2
emoji-country-flag==1.3.2
emoji==2.11.0
envparse==0.2.0
future==1.0.0
faker==24.4.0
fuzzysearch==0.7.3
gtts==2.5.1
geopy==2.4.1
google-trans-new==1.1.9
gpytranslate==1.5.1
hachoir==3.3.0
heroku3==5.2.1
html2text==2024.2.26
jikanpy==4.3.2
lxml==4.6.5
markdown2==2.4.13
multicolorcaptcha==1.2.0
motor==3.4.0
nudepy==0.5.1
nekos.py==1.1.0
opencv-python-headless==4.9.0.80
Python_ARQ==6.0.7
python-telegram-bot==13.15
pyaztro==0.3
pykeyboard==0.1.5
psutil==5.9.8
pyrate-limiter==3.6.0
pillow==9.5.0
psycopg2-binary==2.9.9
pretty_errors==1.2.25
pyrogram==2.0.106
pymongo==4.6.3
pyrate-limiter==3.6.0
requests==2.31.0
regex==2023.12.25
SQLAlchemy==1.4.46
secureme==0.0.4
speedtest-cli==2.1.3
spamwatch==0.3.0
search_engine_parser==0.6.8
tswift==0.7.0
telethon==1.34.0
telegraph==2.2.0
TgCrypto==1.2.5 
wget==3.2
wikipedia==1.4.0
youtube_search_python==1.6.6
youtube_search==2.1.2
yt_dlp
youtube-dl
youtube_search
git+https://github.com/Sorrybabe/downloader
git+https://github.com/python-telegram-bot/ptbcontrib.git
